<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <script>
    const url = 'https://api-previsao-projeto-integrador-production.up.railway.app/previsao/comar/tempar/12';

    fetch(url).then(response => {
      return response.json();
    }).then(data => {

      let anteriores = Object.assign({},data.anteriores)
      let previsao = Object.assign({},data.previsao)

      let data2 = Object.assign(data.anteriores,data.previsao)

      indexes = Object.keys(data2)

      new Chart(document.getElementById("line-chart"),{
        type: 'line',
        data: {
          labels: indexes,
          datasets: [
            {
              data: anteriores,
              label: "Histórico",
              borderColor: "#3cba9f",
              fill: false
            },
            {
              data: previsao,
              label: "Previsão",
              borderColor: "#ff0000",
              fill: false
            }]
        },
        options: {
          title: {
            display: true,
            text: 'Previsão da temperatura do ar com ar condicionado'
          }
        }
      });

    })
  </script>

  <script>
    const url2 = 'https://api-previsao-projeto-integrador-production.up.railway.app/previsao/semar/tempar/12';

    fetch(url2).then(response => {
      return response.json();
    }).then(data => {

      let anteriores2 = Object.assign({},data.anteriores)
      let previsao2 = Object.assign({},data.previsao)

      let data3 = Object.assign(data.anteriores,data.previsao)

      indexes2 = Object.keys(data3)

      new Chart(document.getElementById("line-chart2"),{
        type: 'line',
        data: {
          labels: indexes2,
          datasets: [
            {
              data: anteriores2,
              label: "Histórico",
              borderColor: "#3cba9f",
              fill: false
            },
            {
              data: previsao2,
              label: "Previsão",
              borderColor: "#ff0000",
              fill: false
            }]
        },
        options: {
          title: {
            display: true,
            text: 'Previsão da temperatura do ar sem ar condicionado'
          }
        }
      });

    })
  </script>

  <div class="chart-container" style="height:400px; width:800px">
    <h1>Média horária histórica e prevista para temperatura com ar condicionado</h1>
    <p>https://api-previsao-projeto-integrador-production.up.railway.app/previsao/comar/tempar/12</p>
    <canvas id="line-chart"></canvas>
  </div>
  <br><br><br><br>
  <div class="chart-container" style="height:400px; width:800px">
    <h1>Média horária histórica e prevista para temperatura sem ar condicionado</h1>
    <p>https://api-previsao-projeto-integrador-production.up.railway.app/previsao/semar/tempar/12</p>
    <canvas id="line-chart2"></canvas>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.0.1/dist/chart.umd.min.js"></script>
</body>

</html>